@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
body {
  background: black;
  color: white;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

body.color-no-search {
  background: #fa8840;
}

body.color-fade-from-no-search-to-no-search {
  animation-name: colorani-u45756c35;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u45756c35 {
  from {
    background: #fa8840;
  }
  to {
    background: #fa8840;
  }
}

body.color-fade-from-no-search-to-no-results {
  animation-name: colorani-uf51163bb;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-uf51163bb {
  from {
    background: #fa8840;
  }
  to {
    background: #fa5e3d;
  }
}

body.color-fade-from-no-search-to-results-found {
  animation-name: colorani-u055737c6;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u055737c6 {
  from {
    background: #fa8840;
  }
  to {
    background: #4cd977;
  }
}

body.color-fade-from-no-search-to-too-many-results {
  animation-name: colorani-u9b1c3dfc;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u9b1c3dfc {
  from {
    background: #fa8840;
  }
  to {
    background: #fa8840;
  }
}

body.color-no-results {
  background: #fa5e3d;
}

body.color-fade-from-no-results-to-no-search {
  animation-name: colorani-u04987e3a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u04987e3a {
  from {
    background: #fa5e3d;
  }
  to {
    background: #fa8840;
  }
}

body.color-fade-from-no-results-to-no-results {
  animation-name: colorani-u4c1b185f;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u4c1b185f {
  from {
    background: #fa5e3d;
  }
  to {
    background: #fa5e3d;
  }
}

body.color-fade-from-no-results-to-results-found {
  animation-name: colorani-u6acd68d9;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u6acd68d9 {
  from {
    background: #fa5e3d;
  }
  to {
    background: #4cd977;
  }
}

body.color-fade-from-no-results-to-too-many-results {
  animation-name: colorani-ud18082ee;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-ud18082ee {
  from {
    background: #fa5e3d;
  }
  to {
    background: #fa8840;
  }
}

body.color-results-found {
  background: #4cd977;
}

body.color-fade-from-results-found-to-no-search {
  animation-name: colorani-u10eb467a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u10eb467a {
  from {
    background: #4cd977;
  }
  to {
    background: #fa8840;
  }
}

body.color-fade-from-results-found-to-no-results {
  animation-name: colorani-u0dac68cf;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u0dac68cf {
  from {
    background: #4cd977;
  }
  to {
    background: #fa5e3d;
  }
}

body.color-fade-from-results-found-to-results-found {
  animation-name: colorani-u9823ef99;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u9823ef99 {
  from {
    background: #4cd977;
  }
  to {
    background: #4cd977;
  }
}

body.color-fade-from-results-found-to-too-many-results {
  animation-name: colorani-ue958fd1f;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-ue958fd1f {
  from {
    background: #4cd977;
  }
  to {
    background: #fa8840;
  }
}

body.color-too-many-results {
  background: #fa8840;
}

body.color-fade-from-too-many-results-to-no-search {
  animation-name: colorani-ud375fc00;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-ud375fc00 {
  from {
    background: #fa8840;
  }
  to {
    background: #fa8840;
  }
}

body.color-fade-from-too-many-results-to-no-results {
  animation-name: colorani-u573b7f59;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u573b7f59 {
  from {
    background: #fa8840;
  }
  to {
    background: #fa5e3d;
  }
}

body.color-fade-from-too-many-results-to-results-found {
  animation-name: colorani-u2132359a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u2132359a {
  from {
    background: #fa8840;
  }
  to {
    background: #4cd977;
  }
}

body.color-fade-from-too-many-results-to-too-many-results {
  animation-name: colorani-u08112ed3;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes colorani-u08112ed3 {
  from {
    background: #fa8840;
  }
  to {
    background: #fa8840;
  }
}

body h1 {
  font-size: 10vh;
  margin: 0.25vh;
}

body .container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body .container a {
  color: #c328fa;
  text-decoration: none;
}

body .container .button {
  background-color: #60a8f0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

body .container .search {
  overflow: auto;
  overflow-x: hidden;
}

body .container .search .header {
  padding-bottom: 2vh;
}

body .container .search .header a {
  color: #c328fa;
}

body .container .search #query input {
  width: 100vw;
  height: 10vh;
  font-size: 4vh;
  font-family: serif;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Code Pro', monospace;
}

body .container .search #results table {
  border: 0;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

body .container .search #results table thead {
  font-size: 150%;
}

body .container .search #results table tbody td {
  padding-left: 5px;
  padding-right: 5px;
}

body .container .search #results table tbody tr {
  max-width: 10vw;
}

body .container .search #results table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

body .container .footer {
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 1vh;
}
