@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import 'colors.scss';

@mixin colorFade($fromColor, $toColor) {
	$name: colorani-#{unique-id()};

	animation-name: $name;
	animation-duration: 0.5s;

	@keyframes #{$name} {
		from {
			background: $fromColor;
		}

		to {
			background: $toColor;
		}
	}

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

body {
	background: $colors-background;
	color: $colors-text;
	margin: 0;

	font-family: 'Source Code Pro', monospace;

	@each $state, $color in $x-color-states {
		&.color-#{$state} {
			background: $color;
		}

		@each $stateNew, $colorNew in $x-color-states {
			&.color-fade-from-#{$state}-to-#{$stateNew} {
				@include colorFade($color, $colorNew);
			}
		}
	}

	h1 {
		font-size: 10vh;
		margin: 0.25vh;
	}

	.container {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		justify-content: space-between;

		a {
			color: $colors-links;
			text-decoration: none;
		}

		text-align: center;
		margin-left: auto;
		margin-right: auto;

		.search {
			overflow: auto;
			overflow-x: hidden;

			.header {
				padding-bottom: 2vh;

				a {
					color: $colors-links;
				}
			}

			.query {
				input {
					width: 100vw;
					height: 10vh;
					font-size: 4vh;
					font-family: serif;
					text-align: center;
					margin: 0;
					padding: 0;
					border: 0;
					font-family: 'Source Code Pro', monospace;
				}
			}

			.results {
				.results-table {
					transition: max-height 0.3s linear;
					max-height: 100%;
					overflow: hidden;

					&.hide {
						max-height: 0;
					}

					table.results {
						border: 0;
						margin-left: 10vw;
						margin-right: 10vw;
						width: 80vw;

						thead {
							font-size: 150%;
						}

						tbody {
							td {
								padding-left: 5px;
								padding-right: 5px;
							}

							tr {
								max-width: 10vw;

								&:nth-child(odd) {
									background-color: rgba(255, 255, 255, 0.2);
								}
							}
						}
					}
				}
			}
		}

		.footer {
			background-color: rgba(255, 255, 255, 0.05);
			margin-bottom: 1vh;
			font-size: 1.5vh;
		}
	}
}
