//No nesting doesn't work in CSS, its a SASS/SCSS thing
body {
	background: #000;
	color: white;

	.center {
		margin: auto;
		width: 50%;
		text-align: center;
		vertical-align: middle;

		a:link {
			color: orange;
		}

		a:visited {
			color: orange;
		}

		a:hover {
			color: hotpink;
		}

		a:active {
			color: yellow;
		}

		.button {
			background-color: #60a9f0;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			transition-duration: 0.4s;

			&:hover {
				background-color: orange;
			}
		}

		#query {
			input {
				#search {
					width: 20em;
					height: 2em;
					font-size: 20px;
					font-family: serif;
					text-align: center;
				}
			}
		}

		#results {
			table {
				border: 0;
				tbody {
					tr:nth-child(odd) {
						background-color: rgba(255, 255, 255, 0.1);
					}
				}
			}
		}
	}
}
