*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3 {
  font-weight: 600;
  color: #425469;
  font-family: "Muli", sans-serif;
  line-height: 1.5; }

h1 {
  color: #19CCAA;
  font-size: 2.5em; }
  h1 a,
  h1 a:visited {
    text-decoration: none;
    color: #19CCAA; }

h2 {
  font-size: 2em; }

a,
a:visited {
  color: #425469;
  text-decoration: underline;
  font-weight: bold; }

a:hover {
  color: #19CCAA;
  text-decoration: underline; }

header {
  background: #1D1425;
  padding: 0px 15px;
  text-align: center;
  margin: 50px 0 0;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  padding: 0 15px;
  max-width: 800px;
  margin: 0 auto; }

time {
  color: #898989; }

.container {
  max-width: 875px;
  margin: 0 auto; }

.container2 {
  max-width: 875px;
  margin: 0 auto; }

/* Aside */
aside {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid white;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1); }
  aside nav {
    float: left;
    max-width: 875px;
    margin: 0 auto; }
    aside nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      aside nav ul li {
        float: left;
        position: relative; }
        aside nav ul li a {
          text-decoration: none;
          display: block;
          padding: 15px;
          font-family: 'Muli', sans-serif;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0; }
          aside nav ul li a:hover, aside nav ul li a:active {
            background: #1D1425;
            text-decoration: none;
            color: #19CCAA; }
    aside nav:after {
      content: '';
      display: table;
      clear: both; }

aside2 {
  position: fixed;
  top: 50px;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid white;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1); }
  aside2 nav {
    float: left;
    max-width: 875px;
    margin: 0 auto; }
    aside2 nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      aside2 nav ul li {
        float: left;
        position: relative; }
        aside2 nav ul li a {
          text-decoration: none;
          display: block;
          padding: 15px;
          font-family: 'Muli', sans-serif;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0; }
          aside2 nav ul li a:hover, aside2 nav ul li a:active {
            background: #1D1425;
            text-decoration: none;
            color: #19CCAA; }
    aside2 nav:after {
      content: '';
      display: table;
      clear: both; }

.jumptarget::before {
  content: "";
  display: block;
  height: 35px;
  /* fixed header height*/
  margin: -35px 0 0;
  /* negative fixed header height */ }

footer {
  text-align: center;
  padding: 40px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
